.darkmode {
    position: fixed;
    left: 2.5rem;
    bottom: 3rem;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    transition: .4s;
}

.darkmode__icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.darkmode:hover {
    background-color: var(--title-color-dark);
}

.dark-theme .darkmode {
    transition: all 0.3s ease-in-out;
}

.dark-theme .darkmode:hover {
    border-color: #FFF;
    box-shadow:
        0 0 5px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 15px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 25px rgb(255, 255, 255);
}


@media screen and (max-width: 992px) {
    .darkmode {
        left: 1.5rem;
        padding: 0.25rem 0.4rem;
        bottom: 4rem;
    }

    .darkmode__icon {
        font-size: 1.25rem;
    }
    
}

@media screen and (max-width: 768px) {
    .show-darkmode {
        bottom: 5rem;
    }
}

@media screen and (max-width: 350px) {
    .darkmode {
        left: 1rem;
    }
}